.header_container{
  height: 80px;
  position: fixed;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav_menu ul{
  display: flex;
}
a{
  color: #fff;
}
.logo_header h1 a:hover{
  color: #1acc8d;
  transition: all ease-in 0.5s;
}
.nav_menu ul li{
  color: #fff;
  padding: 10px;
  
}
.nav_menu ul li a:hover{
  border-bottom: 3px solid #1acc8d;
  transition: move 5s;
}
.drop_menu .dropdown-content{
  display: none;
  min-width: 100px;
  position: absolute ;
  background: rgb(68, 68, 68, .5);
  border-radius: 7px;
}

.drop_menu:hover .dropdown-content{
  display: block;
  top: 60px;
}
/* @keyframes move{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
} */